@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
.header {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 300;
}
.header__wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand__name {
  text-decoration: none;
  color: transparent;
}
.brand__name__logo {
  width: 150px;
}
.nav__menu__btn {
  background-color: transparent;
  cursor: pointer;
  color: white;
  border: none;
  z-index: 9999;
}
.nav {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 500;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #189366, #00040e);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
}
.nav__link {
  font-size: 35px;
  color: white;
  text-decoration: none;
  margin-bottom: 1em;
  padding: 0em 0.5em;
  position: relative;
  font-weight: lighter;
}
.nav__link:hover::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  top: 40px;
  left: 0px;
  width: 100%;
  height: 1px;
  animation: navlink 500ms;
}
@keyframes navlink {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
.button {
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 0.8em 1.5em;
  background: linear-gradient(45deg, #189366, #00040e);
  border-radius: 50px;
  cursor: pointer;
  border: none;
  box-shadow: 26px 39px 52px rgba(28, 171, 118, 0.17);
}
.button:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(28, 171, 118, 0.17);
}
.home__section__carousel__entry {
  width: 100vw;
  background-color: #00040e;
  position: relative;
  max-height: 100vh;
  min-height: 500px;
}
.home__section__carousel__entry video {
  width: 100%;
}
.home__section__carousel__entry__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.home__section__carousel__entry__overlay__content {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 0em 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.home__section__carousel__entry__overlay__content__right {
  align-items: flex-end;
  padding: 3em;
}
.home__section__carousel__entry__overlay__content__sub__heading {
  font-size: 22px;
  color: white;
}
.home__section__carousel__entry__overlay__content__heading {
  font-size: 45px;
  color: white;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.carousel .thumbs-wrapper {
  display: none;
}
.carousel .slider-wrapper.axis-horizontal .slider {
  min-height: 500px;
}
.into__section {
  width: 100%;
}
.into__section__wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.into__section__heading {
  font-size: 25px;
  color: #00040e;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.into__section__heading span {
  font-weight: 600;
  font-size: 40px;
  color: #189366;
}
.into__section__wrapper__content {
  width: 100%;
  padding: 5em 0em;
  padding-top: 0em;
  margin-top: -2em;
}
.into__section__wrapper__content__service__card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #383838, #020202);
  align-items: center;
  padding: 2em;
  border-radius: 20px;
  height: 250px;
  margin-top: 5em;
  position: relative;
  justify-content: center;
  text-decoration: none;
  transition: 500ms ease-in-out;
}
.into__section__wrapper__content__service__card__img {
  top: 0px;
  position: relative;
}
.into__section__wrapper__content__service__card__text {
  text-align: center;
  color: white;
  font-size: 14px;
  margin-top: 2em;
}
.into__section__wrapper__content__service__card:hover {
  transition: 300ms ease-in-out;
  background: linear-gradient(90deg, #316656, #62cbac);
}
.into__section__wrapper__content__service__card:hover
  .into__section__wrapper__content__service__card__img {
  transition: 500ms ease-in-out;
  position: absolute;
  top: -50px;
}
.into__section__wrapper__content__service__card:hover
  .into__section__wrapper__content__service__card__text {
  transition: 500ms ease-in-out;
  font-size: 18px;
  font-weight: bold;
}
.into__section__video {
  width: 100%;
  margin: 1em;
}
.difference__section {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.difference__section video {
  width: 100%;
}
.difference__section__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.difference__section__overlay__content {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 8em 2em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.difference__section__overlay__sub__heading {
  font-size: 22px;
  color: white;
}
.difference__section__overlay__heading {
  font-size: 55px;
  color: #1dbf84;
  font-weight: bold;
}
.difference__section__overlay__content__features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4em;
}
.difference__section__overlay__content__features__entry {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.difference__section__overlay__content__features__entry span {
  font-size: 18px;
  margin-top: 0.8em;
  color: #ffffff;
}
.feature__section__entry {
  width: 100vw;
  height: fit-content;
}
.feature__section__entry__content {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em 2em;
}
.feature__section__entry__content__jumbotron {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature__section__entry__content__jumbotron__left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.feature__section__entry__content__jumbotron__sub__heading {
  font-size: 35px;
  color: #00040e;
}
.feature__section__entry__content__jumbotron__heading {
  font-size: 50px;
  color: #189366;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.feature__section__entry__content__jumbotron__right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.feature__section__entry__content__jumbotron__right__img {
  height: 500px;
  max-width: 500px;
}
.feature__section__entry__content__feature__list {
  width: 100%;
  padding: 3em 4.5em;
  background: linear-gradient(135deg, #383838, #020202);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  margin-top: 5em;
  flex-wrap: wrap;
}
.feature__section__entry__content__feature__list__entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  flex: 1;
}
.feature__section__entry__content__feature__list__entry__img {
  height: 50px;
}
.feature__section__entry__content__feature__list__entry span {
  font-size: 15px;
  color: white;
}
.button__reverse {
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 0.8em 1.5em;
  background: linear-gradient(90deg, #383838, #020202);
  border-radius: 50px;
  cursor: pointer;
  border: none;
  box-shadow: 26px 39px 52px rgba(0, 0, 0, 0.18);
}
.button__reverse:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.18);
}
.services__main__container {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ffffff, #e1e1e1);
}
.services__main__container__content__heading {
  font-size: 28px;
  color: #020202;
  position: relative;
  margin-bottom: 2em;
}
.services__main__container__content__heading::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: linear-gradient(90deg, #316656, #62cbac);
  left: 0;
  top: 35px;
}
.services__main__container__content {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding: 6em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services__main__container__content__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  margin-top: 1em;
}
.services__main__container__content__wrapper__card {
  padding: 0.8em;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: #020202;
  font-weight: 500;
  margin-top: 0.5em;
}
.services__main__container__content__wrapper__card__svg__container {
  padding: 0.5em;
  background: linear-gradient(135deg, #383838, #020202);
  width: 150px;
  height: 150px;
  border-radius: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  cursor: pointer;
}
.services__main__container__content__wrapper__card__svg__container:hover {
  background: linear-gradient(90deg, #316656, #62cbac);
  transition: 300ms ease-in-out;
}
.services__main__container__content__wrapper__card__svg {
  width: 80px;
}
.work__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4em 0em;
}
.work__section__header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}
.work__section__header svg {
  width: 100%;
}
.work__section__header__bar {
  width: 50%;
  height: 1.5px;
  background-color: #54bd96;
}
.work__section__header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: fit-content;
  padding: 0em 1em;
}
.work__section__header__content__sub__heading {
  font-size: 20px;
  color: #383838;
}
.work__section__header__content__heading {
  font-size: 30px;
  color: #1dbf84;
  text-align: right;
}
.work__section__content {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 0em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work__section__content__project {
  display: flex;
  align-items: center;
}
.work__section__content__project__about {
  background: linear-gradient(#383838, #020202);
  padding: 3.5em 2.5em;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
.work__section__content__project__about__heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.work__section__content__project__about__heading__top {
  font-size: 16px;
  color: white;
}
.work__section__content__project__about__heading__bottom {
  font-size: 25px;
  color: #189366;
  font-weight: bold;
}
.work__section__content__project__about__info {
  font-size: 12px;
  color: #f8f8f8;
}
.work__section__content__selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0em;
  background-color: white;
  padding: 1.5em 2em;
  max-width: 100%;
  overflow-x: auto;
  border-radius: 20px;
  box-shadow: 6px 23px 30px rgba(0, 0, 0, 0.18);
}
.work__section__content__selection::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ffffff;
}
.work__section__content__selection::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}
.work__section__content__selection__entry {
  background-color: transparent;
  border: none;
  position: relative;
  flex: 1;
  padding: 0em 1em;
}
.work__section__content__selection__entry__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}
.work__section__content__selection__entry__img {
  mix-blend-mode: luminosity;
}
.work__section__content__selection__entry__input:hover
  ~ .work__section__content__selection__entry__img {
  mix-blend-mode: normal;
}
.work__section__content__selection__entry__input:checked
  ~ .work__section__content__selection__entry__img {
  mix-blend-mode: normal;
}
.contact__section {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  background: linear-gradient(135deg, #00040e, #00040e, #189366);
}
.contact__section__content {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0em auto;
  padding: 8em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__section__content__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 650px;
  padding: 2em 0em;
}
.contact__section__content__left__header {
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  line-height: 24px;
  margin-bottom: 2em;
}
.contact__section__content__left__header span {
  font-size: 20px;
  color: #189366;
  font-weight: 400;
}
.contact__section__content__left__content__entry {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.contact__section__content__left__content__entry__heading {
  font-size: 20px;
  color: #189366;
  margin-bottom: 0.1em;
}
.contact__section__content__left__content__entry__content {
  font-size: 16px;
  color: #bcbcbc;
}
.contact__section__content__middle {
  width: 320px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url("../assets//mobileImg.png"), no-repeat;
  background-size: cover;
  padding: 4em 2em;
}
.contact__section__content__middle__header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact__section__content__middle__sub__heading {
  font-size: 14px;
  color: #189366;
}
.contact__section__content__middle__heading {
  font-size: 25px;
  color: #021015;
}
.contact__section__content__middle__heading span {
  font-weight: 600;
}
.contact__section__content__middle__form {
  width: 100%;
}
.contact__section__content__middle__input {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.contact__section__content__middle__input__label {
  font-size: 13px;
  color: #189366;
  display: none;
}
.contact__section__content__middle__input__error__message {
  font-size: 13px;
  color: #fd2424;
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
}
.contact__section__content__middle__input__field {
  flex: 1;
  background-color: transparent;
  color: #00040e;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #707070;
  padding: 0.4em 0em;
  margin-bottom: 1em;
  outline: none;
}
.contact__section__content__middle__input__field::placeholder {
  color: #707070;
}
.contact__section__content__middle__input__textarea {
  flex: 1;
  background-color: transparent;
  color: #00040e;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #707070;
  padding: 0.4em 0em;
  outline: none;
  min-height: 100px;
}
.contact__section__content__middle__input__textarea::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}
.contact__section__content__middle__input__textarea::-webkit-scrollbar-thumb {
  background-color: #00040e;
  cursor: pointer;
}
.contact__section__content__middle__input__textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
.contact__section__content__middle__input:focus-within
  .contact__section__content__middle__input__label {
  transition: 300ms ease-in-out;
  display: flex;
}
.contact__section__content__middle__input:focus-within
  .contact__section__content__middle__input__field::placeholder,
.contact__section__content__middle__input:focus-within
  .contact__section__content__middle__input__textarea::placeholder {
  color: transparent;
}
.contact__section__content__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__section__content__right__img {
  width: 70%;
  margin-bottom: 2em;
}
.contact__section__content__right__links {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__section__content__right__links__link {
  width: 50px;
  height: 50px;
  background: linear-gradient(#383838, #020202);
  border-radius: 50px;
  padding: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.service__details__jumbotron {
  width: 100%;
}
.service__details__jumbotron__content {
  width: 100%;
  max-width: 1440px;
  padding: 0em 2em;
  margin: 0em auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.service__details__jumbotron__left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service__details__jumbotron__left__img {
  width: 80%;
}
.service__details__jumbotron__right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service__details__jumbotron__right__heading {
  font-size: 35px;
  color: #00040e;
  width: 50%;
  margin-bottom: 0.5em;
}
.service__details__jumbotron__right__info {
  font-size: 14px;
  color: #00040e;
  margin-bottom: 2em;
  width: 70%;
}
.service__details__jumbotron__right__button {
  font-size: 16px;
  color: white;
  text-decoration: none;
  padding: 0.8em 2em;
  background: linear-gradient(#189366, #00040e);
  border-radius: 50px;
  cursor: pointer;
  border: none;
  box-shadow: 26px 39px 52px rgba(28, 171, 118, 0.17);
  width: fit-content;
}
.service__details__jumbotron__right__button:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(28, 171, 118, 0.17);
}
.service__details__projects {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  padding: 0em 2em;
  padding-right: 1em;
  display: flex;
  flex-wrap: wrap;
}
.service__details__projects__entry {
  width: 32%;
  margin-right: 1%;
  position: relative;
  height: fit-content;
  border-radius: 10px;
  margin-bottom: 1em;
}
.service__details__projects__entry__img {
  width: 100%;
  border-radius: 10px;
  min-height: 350px;
}
.service__details__projects__entry__content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
}
.service__details__projects__entry__content__heading {
  font-size: 22px;
  color: white;
  margin-bottom: 1.5em;
  font-weight: bold;
}
.service__details__projects__entry__content__button__row {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.service__details__projects__entry__content__button {
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.service__details__projects__entry__content__button svg {
  width: 18px;
  height: 18px;
}
.service__details__projects__entry__content__button:hover {
  transition: 300ms ease-in-out;
  background-color: white;
  color: #00040e;
}
.service__details__projects__entry:hover
  .service__details__projects__entry__content {
  transition: 300ms ease-in-out;
  display: flex;
}
.service__popup {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 100;
  top: 0px;
}
.service__popup__content {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 2em;
}
.service__popup__img {
  width: 100%;
  max-width: 800px;
}
.service__popup__close {
  position: absolute;
  top: 7em;
  right: 2em;
  background-color: transparent;
  color: rgb(218, 218, 218);
  border: none;
  cursor: pointer;
}
.service__popup__close svg {
  width: 35px;
  height: 35px;
}
.service__popup__close:hover {
  color: white;
}
.portolio__filter {
  width: 100%;
  max-width: calc(1440px - 4em);
  display: flex;
  justify-content: space-between;
  margin: 0em auto;
  margin-bottom: 2em;
  background-color: white;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  padding: 1.5em 2em;
  border-radius: 10px;
}
.portolio__filter__left {
  display: flex;
  align-items: center;
}
.portolio__filter__left__entry {
  position: relative;
  margin-right: 2em;
}
.portolio__filter__left__entry__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 50;
  cursor: pointer;
  opacity: 0;
}
.portolio__filter__left__entry__content {
  position: relative;
  color: #00040e;
  word-wrap: normal;
  text-transform: uppercase;
}
.portolio__filter__left__entry__content::after {
  content: "";
  position: absolute;
  display: none;
  top: 25px;
  left: 0px;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #316656, #62cbac);
}
.portolio__filter__left__entry__input:hover
  ~ .portolio__filter__left__entry__content {
  transition: 300ms ease-in-out;
  color: #189366;
  font-weight: bold;
}
.portolio__filter__left__entry__input:checked
  ~ .portolio__filter__left__entry__content {
  color: #189366;
  font-weight: bold;
}
.portolio__filter__left__entry__input:checked
  ~ .portolio__filter__left__entry__content::after {
  display: flex;
}
.portolio__filter__right {
  display: flex;
  align-items: center;
  position: relative;
}
.portolio__filter__right__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.portolio__filter__right svg {
  margin-right: 0.5em;
}
.pricing__feature {
  width: 100%;
  max-width: 1440px;
  padding: 3em 5em;
  padding: 5em;
  margin: 5em auto;
  border-radius: 50px;
  background: linear-gradient(#383838, #020202);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pricing__feature__entry__reverse {
  width: 28%;
  height: 100%;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  color: #e1e1e1;
  margin-right: 1em;
}
.pricing__feature__entry__reverse span {
  font-weight: 600;
}
.pricing__feature__entry {
  width: 28%;
  margin-right: 2em;
  height: fit-content;
  min-height: 200px;
  padding: 2em;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 2em;
  position: relative;
  z-index: 5;
}
.pricing__feature__entry__heading {
  font-size: 20px;
  color: #189366;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.pricing__feature__entry__info {
  font-size: 16px;
  color: #00040e;
  margin-bottom: 0.5em;
}
.pricing__feature__entry::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: -35px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(0.9);
  border-radius: 10px;
}
.pricing__feature__entry::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: -70px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -2;
  transform: scale(0.8);
  border-radius: 10px;
}
.our__mission__section__about__us {
  width: 100vw;
  height: 90vh;
  background: linear-gradient(#ffffff, #e1e1e1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.our__mission__section__about__us__content {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  margin: 0px auto;
  padding: 2em;
  display: flex;
  justify-content: space-around;
}
.our__mission__section__about__us__content__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.our__mission__section__about__us__content__right__img {
  width: 300px;
}
.our__mission__section__about__us__content__left__para {
  font-size: 16px;
  color: #00040e;
  width: 90%;
}
.our__vision__section__about__us {
  width: 100vw;
  height: 90vh;
  background: linear-gradient(135deg, #383838, #020202);
  display: flex;
  justify-content: center;
  align-items: center;
}
.our__vision__section__about__us__content {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  margin: 0px auto;
  padding: 2em;
  display: flex;
  justify-content: space-around;
}
.our__vision__section__about__us__content__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.our__vision__section__about__us__content__right__img {
  width: 300px;
}
.our__vision__section__about__us__content__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.our__vision__section__about__us__content__left__para {
  font-size: 16px;
  color: #fbfbfb;
  width: 90%;
}
.pricing__delivery__section {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ffffff, #e1e1e1);
}
.pricing__delivery__section__content__wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  justify-content: center;
  padding: 2em;
}
.pricing__delivery__section__heading {
  font-size: 30px;
  color: #00040e;
  display: flex;
  flex-direction: column;
}
.pricing__delivery__section__heading span {
  color: #189366;
  font-weight: 600;
}
.pricing__delivery__section__img {
  width: 100%;
  filter: grayscale(100%);
  margin: 2em 0em;
  border-radius: 20px;
}
.pricing__delivery__section__content {
  display: flex;
  justify-content: space-between;
}
.pricing__delivery__section__content__card {
  width: 30%;
  height: fit-content;
  padding: 2em;
}
.pricing__delivery__section__content__card__para {
  font-size: 16px;
  color: #00040e;
  position: relative;
  margin-left: 1.3em;
  margin: 0.7em 0em;
}
.pricing__delivery__section__content__card__para::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background: linear-gradient(#189366, #00040e);
  left: -20px;
  top: 5px;
}
.pricing__delivery__section__content__card__heading {
  font-size: 24px;
  color: #00040e;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.blog__card {
  position: relative;
  width: 24%;
  height: 300px;
  overflow: hidden;
  border: none;
  margin-right: 1%;
  padding: 0em;
  border-radius: 10px;
}
.blog__card:last-child {
  margin-right: 0px !important;
}
.blog__card__img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.blog__card__content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
  padding: 2em;
  cursor: pointer;
}
.blog__card__content__title {
  background-color: #189366;
  color: white;
  padding: 0.7em 1em;
  border-radius: 5px;
  margin-bottom: 1em;
  font-weight: bold;
}
.blog__card__content__info {
  font-size: 18px;
  color: white;
}
.blog__card:hover {
  transition: 300ms ease-in-out;
  transform: scaleY(1.2);
  z-index: 50;
}
.blog__card:hover .blog__card__content .blog__card__content__title {
  transition: 300ms ease-in-out;
  transform: scaleY(0.8);
  margin-bottom: 0.5em;
}
.blog__card:hover .blog__card__content .blog__card__content__info {
  transition: 300ms ease-in-out;
  transform: scaleY(0.8);
}
@media (max-width: 1300px) {
  .work__section__content__project__image {
    width: 700px;
  }
}
@media (max-width: 1150px) {
  .blog__card {
    width: 32%;
    margin-bottom: 1em;
  }
  .blog__card:last-child {
    margin-bottom: 0em;
  }
}
@media (max-width: 1000px) {
  .work__section__content__project__about {
    margin: 2em 0em;
  }
  .work__section__content__project {
    flex-direction: column;
  }
  .service__details__jumbotron__content {
    flex-direction: column-reverse;
  }
  .service__details__jumbotron__left {
    width: 100%;
  }
  .service__details__jumbotron__right {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  .service__details__jumbotron__right__heading {
    text-align: center;
    width: 100%;
  }
  .service__details__jumbotron__right__info {
    text-align: center;
    width: 80%;
  }
  .service__details__projects__entry {
    width: 49%;
  }
  .service__details__jumbotron__content {
    margin-bottom: 5em;
  }
  .pricing__delivery__section__content {
    flex-direction: column;
  }
  .pricing__delivery__section__content__card {
    width: 100%;
  }
  .pricing__delivery__section {
    height: fit-content;
  }
  .contact__section__content {
    flex-direction: column;
  }
  .contact__section__content__left {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact__section__content__right__img {
    margin-top: 4em;
  }
  .pricing__feature__entry__reverse {
    width: 42%;
  }
  .pricing__feature__entry {
    width: 42%;
  }
}
@media (max-width: 850px) {
  .blog__card {
    width: 49%;
    margin-right: 2%;
  }
  .blog__card:nth-child(even) {
    width: 49%;
    margin-right: 0px;
  }
}
@media (max-width: 800px) {
  .work__section__content__project__about {
    width: 100%;
  }
  .work__section__content__project__image {
    width: 550px;
  }
  .portolio__filter {
    flex-direction: column;
  }
  .portolio__filter__right {
    margin-top: 2em;
  }
  .our__mission__section__about__us__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our__vision__section__about__us__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our__vision__section__about__us__content__right {
    width: 100%;
  }
  .our__mission__section__about__us__content__left {
    width: 100%;
  }
  .our__mission__section__about__us {
    height: 1000px;
  }
  .our__vision__section__about__us {
    height: 1000px;
  }
  .our__vision__section__about__us__content__left {
    width: 100%;
    margin-top: 4em;
  }
  .home__section__carousel__entry__overlay__content__heading {
    font-size: 30px;
  }
  .home__section__carousel__entry video {
    min-width: 100%;
    width: fit-content;
    max-height: 700px;
  }
  .home__section__carousel__entry__right video {
    margin-left: 400px;
  }
  .difference__section video {
    width: fit-content;
    min-height: 500px;
  }
  .feature__section__entry__content__jumbotron__sub__heading {
    font-size: 20px;
  }
  .feature__section__entry__content__jumbotron__heading {
    font-size: 33px;
  }
}
@media (max-width: 700px) {
  .pricing__feature {
    padding: 3em;
    padding: 5em;
    border-radius: 20px;
  }
  .pricing__feature__entry__reverse {
    width: 95%;
    height: 200px;
  }
  .pricing__feature__entry {
    width: 95%;
  }
}
@media (max-width: 600px) {
  .work__section__content__project__image {
    width: 360px;
  }
  .work__section__content__project__about {
    display: none;
  }
  .service__details__projects__entry {
    width: 100%;
  }
  .portolio__filter__left__entry {
    margin-right: 1em;
  }
  .our__mission__section__about__us__content__left {
    padding: 0em;
    margin-bottom: 2em;
  }
  .our__mission__section__about__us__content__right__img {
    width: 250px;
  }
  .our__vision__section__about__us__content__right__img {
    width: 250px;
  }
  .our__vision__section__about__us__content__left__para {
    width: 100%;
  }
  .our__mission__section__about__us__content__left__para {
    width: 100%;
  }
  .our__vision__section__about__us__content__left {
    padding: 0em;
  }
  .home__section__carousel__entry__overlay__content {
    align-items: center;
  }
}
@media (max-width: 550px) {
  .blog__card {
    width: 100% !important;
    margin-right: 0px !important;
  }
}
@media (max-width: 500px) {
  .portolio__filter__left {
    flex-direction: column;
    align-items: flex-start;
  }
  .portolio__filter__left__entry {
    margin-top: 1.5em;
  }
  .pricing__feature {
    padding: 2em;
    padding-top: 4em;
  }
  .pricing__feature__entry {
    width: 100%;
    margin-right: 0em;
  }
  .pricing__feature__entry::after {
    display: none;
  }
  .pricing__feature__entry::before {
    display: none;
  }
}
