.portfolio__section {
  width: 100%;
}
.portfolio__section__container {
  max-width: 1500px;
  margin: 0em auto;
  padding: 0em 4em;
}
.portfolio__section__container__heading {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 1em;
  color: #242424;
}

.portfolio__section__container__heading__text {
  font-size: 16px;
  max-width: 50%;
  line-height: 22px;
}
.portfolio__section__container__buttons {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2.5em;
}
.portfolio__section__container__buttons button {
  height: 38px;
  padding: 0em 1.5em;
  display: flex;
  align-items: center;
  margin-right: 1em;
  margin-bottom: 1em;
  justify-content: center;
  border: 1px solid #242424;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 15px;
  color: #242424;
  border-radius: 50px;
  cursor: pointer;
  white-space: nowrap;
}
.portfolio__section__container__buttons button:hover {
  background-color: #0e6f4c;
}
.portfolio__section__container__text__content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 8em 0em;
}
.portfolio__section__container__text__content__entry {
  width: 100%;
  max-width: 700px;
  text-align: center;
  line-height: 25px;
  font-size: 16px;
}

.portfolio__section__container__text__content__entry__background {
  position: absolute;
  height: 180%;
  z-index: -1;
}

.portfolio__section__container__text__content__entry__span {
  font-size: 25px;
  font-weight: 500;
}
.portfolio__section__container__text__content__entry__span__bottom {
  margin-top: 2em;
  text-align: center;
}
.portfolio__section__container__calendar__sec {
  width: 100%;
  margin-bottom: 2em;
}
.portfolio__section__container__calendar__sec__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6em 10em;
  background-color: #189366;
  width: calc(100% - 4em);
  border-radius: 0px 15px 15px 0px;
}
.portfolio__section__container__calendar__seccontainer__left {
  display: flex;
  margin-right: 1em;
  color: white;
}
.portfolio__section__container__calendar__seccontainer__left__weeks {
  margin-right: 1em;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
}
.portfolio__section__container__calendar__seccontainer__right {
  display: flex;
  color: white;
}
.portfolio__section__container__calendar__seccontainer__right__weeks {
  margin-right: 1em;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 875px) {
  .portfolio__section__container__calendar__sec__container {
    padding: 6em 6em;
  }
}
@media (max-width: 800px) {
  .portfolio__section__container__heading {
    display: flex;
    justify-content: center;
  }
  .portfolio__section__container__heading__text {
    max-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .portfolio__section__container__buttons {
    justify-content: center;
  }
  .portfolio__section__container__calendar__sec__container {
    padding: 6em 2em;
  }
}
@media (max-width: 685px) {
  .portfolio__section__container__calendar__sec__container {
    padding: 6em 0em;
  }
  .portfolio__section__container__text__content__entry__background {
    width: 120%;
  }
  .portfolio__section__container__calendar__sec__container {
    flex-direction: column;
  }
  .portfolio__section__container__calendar__seccontainer__left {
    margin-right: 0em;
    margin-bottom: 1em;
  }
}
