$white: #ffffff;
$primary: #189366;
$primaryDark: #0d6e4b;
$black: #242424;

.blockchain__whysection {
  max-width: 1500px;
  width: 100%;
  margin: 2em auto;
  padding: 2em 4em;
}
.blockchain__whysection__heading {
  font-size: 25px;
  font-weight: 600;
  color: #242424;
  text-align: center;
  margin-bottom: 2em;
}
.blockchain__whysection__services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blockchain__whysection__servicecard {
  width: 30%;
  padding: 1.5em;
  border: 1px solid transparent;
}
.blockchain__whysection__servicecard__heading {
  font-size: 18px;
  font-weight: bold;
  color: #242424;
  margin: 1em 0em;
}
.blockchain__whysection__servicecard__detail {
  color: #2b2a2a;
}
.blockchain__whysection__servicecard:hover {
  border: 1px solid #189366;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.blockchain__servicessection {
  max-width: 1500px;
  width: 100%;
  margin: 0em auto;
  padding: 4em 4em 1em 4em;
  background-color: #242424;
}
.blockchain__servicessection__heading {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 2em;
  color: white;
  text-align: center;
}
.blockchain__servicessection__services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 7em;
}
.blockchain__servicessection__servicecard {
  width: 30%;
  padding: 2em;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 2em;
  margin-top: 1em;
}

.blockchain__servicessection__servicecard__heading {
  font-size: 16px;
  font-weight: bold;
  color: #242424;
  margin-bottom: 1em;
  margin-top: 1em;
}
.blockchain__servicessection__servicecard__detail {
  color: #2b2a2a;
}
.blockchain__servicessection__servicecard:hover {
  background-color: #189366;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: white;
}
.blockchain__servicessection__servicecard:hover * {
  color: white;
  stroke: white;
  fill: $white;
}
.blockchain__servicessection__servicecard__icon svg {
  fill: $primary;
}
.blockchain__ready {
  max-width: 1500px;
  width: 100%;
  margin: 0em auto;
  padding: 4em 4em;
  background-color: #189366;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.blockchain__ready::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 85px;
  top: 0;
  left: 0;
  background: #141414;
  opacity: 0.4;
}
.blockchain__ready::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 85px;
  left: 100px;
  background: #141414;
  opacity: 0.4;
  transform: translate(-50%, -50%);
}
.blockchain__ready__text {
  font-size: 22px;
  color: white;
  font-weight: bolder;
}
.blockchain__ready__button {
  padding: 12px 25px;
  margin-left: 2rem;
  border: 1px solid white;
  color: white;
  background-color: #189366;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s all ease-in-out;
}
.blockchain__ready__button:hover {
  background-color: $primaryDark;
}
.blockchain__worksection {
  max-width: 1500px;
  width: 100%;
  margin: 0em auto;
  padding: 4em 4em;
}
.blockchain__worksection {
  width: 100%;
}
.blockchain__worksection__heading {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.blockchain__worksection__text {
  width: 50%;
}
.blockchain__worksection__text__subtext {
  display: flex;
  margin-bottom: 2em;
}
.blockchain__worksection__text__subtext__no {
  margin-right: 1em;
  background-color: $primary;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: $white;
  position: relative;
  margin-bottom: 0.3em;
}
.blockchain__worksection__text__subtext__no::before {
  content: "";
  background-image: url(https://cdn-ddddj.nitrocdn.com/NSvsNMzbKkQslXvZnhobiTmmCkBXBUPd/assets/static/optimized/rev-f40fc51/wp-content/themes/tkxel/assets/images/bch-point--arrow.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  left: 8px;
  width: 8px;
  height: 38px;
}
.blockchain__worksection__text__subtext:last-child
  .blockchain__worksection__text__subtext__no::before {
  display: none;
}

.blockchain__worksection__detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.blockchain__worksection__img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0em;
}
.blockchain__worksection__img img {
  width: 450px;
  height: 450px;
  flex: 1;
}
.blockchain__techstack {
  width: 100%;
}
.blockchain__techstack__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blockchain__techstack__container__heading {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}
.blockchain__techstack__container__tags {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3em 4em;
  flex-wrap: wrap;
}
.blockchain__techstack__container__tags svg {
  width: 190px;
  height: 80px;
}
.blockchain__techstack__container__tags__button__div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blockchain__techstack__container__tags__button {
  background-color: $primary;
  width: 150px;
  height: 45px;
  outline: none;
  color: $white;
  border: 1px solid $primary;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.blockchain__techstack__container__tags__button:hover {
  background-color: $primaryDark;
}

@media (max-width: 1000px) {
  .blockchain__worksection__detail {
    flex-direction: column;
  }
  .blockchain__worksection__text {
    width: 100%;
  }
  .blockchain__worksection__heading {
    display: flex;
    justify-content: center;
  }
  .blockchain__worksection__img {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 0em 4em;
  }
  .blockchain__worksection__img img {
    width: 50%;
    height: 100%;
    margin-top: 2em;
  }
  .blockchain__worksection {
    padding: 4em 4em;
  }
}
@media (max-width: 875px) {
  .blockchain__whysection__servicecard {
    width: 45%;
  }
  .blockchain__servicessection__servicecard {
    width: 45%;
  }
  .blockchain__worksection__img {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .blockchain__worksection__img img {
    width: 350px;
    height: 100%;
  }
}
@media (max-width: 685px) {
  .blockchain__whysection__servicecard {
    width: 100%;
  }
  .blockchain__servicessection__servicecard {
    width: 100%;
  }
  .blockchain__ready {
    flex-direction: column;
  }
  .blockchain__ready__button {
    margin-top: 1rem;
  }
}
@media (max-width: 500px) {
  .blockchain__worksection__img {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 0em 0em;
  }
  .blockchain__worksection__img img {
    width: 50%;
    height: 100%;
    margin-top: 2em;
  }
  .blockchain__worksection {
    padding: 4em 2em;
  }
  .blockchain__techstack__container__tags {
    padding: 0em 2em;
  }
  .blockchain__techstack__container__tags {
    align-items: flex-start;
    padding: 3em 2em;
  }
}
